@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply mx-auto flex max-w-7xl items-center justify-center px-4 py-8 sm:px-6 lg:px-8 lg:py-24;
}

.section-alt {
  @apply mx-auto flex max-w-max items-center px-4 py-8 sm:px-6 lg:px-8 lg:py-24;
}

.active {
  @apply scale-110 rounded-full  border-2 border-gray-400 bg-gradient-to-r  from-cyan-500 to-blue-500 text-white;
}

.text-gradient {
  @apply bg-gradient-to-r from-purple-400 to-pink-600 bg-clip-text font-extrabold text-transparent;
}

.bg-gradient {
  @apply bg-gradient-to-r from-purple-400 to-pink-600;
}

/* @layer base {
  body {
    @apply bg-[#0D1019];

    }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
