@tailwind base;
@tailwind components;
@tailwind utilities;



.section {
  @apply py-8 lg:py-24 flex items-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.section-alt {
  @apply py-8 lg:py-24 flex items-center max-w-max mx-auto px-4 sm:px-6 lg:px-8;
}

.active {
  @apply bg-gradient-to-r from-cyan-500  to-blue-500 border-2 border-gray-400  text-white scale-110 rounded-full;
}

.text-gradient {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600;
}

.bg-gradient {
  @apply bg-gradient-to-r from-purple-400 to-pink-600;
}


/* @layer base {
  body {
    @apply bg-[#0D1019];

    }
} */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

